.main{
    background-image: url(../../public/royalebackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    border: none;
}
.title{
    font-size: 3rem;
    text-align: center;
    border: none;
}

.cardsbox{
    display: flex;
    flex-wrap: wrap;
    margin-left: 7.5rem;
}
.cardimage{
    width: 8rem;
    
    height: 9.5rem;
    margin: 1rem;
    border: none;
}
.cardcontainer{
    background-color: #e8e8e8;
    margin: 1rem;
    border-radius: 8px;
}